body{
	font-family: 'Krona One', sans-serif;
	background-color: rgb(25, 3, 31);
	color: rgb(62, 74, 112);
}


div{
	width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center
}