body{
	background-color: rgb(24, 29, 40);
}

input{
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	display: inline-block;
	text-align: start;
	-webkit-writing-mode: horizontal-tb;
	-webkit-appearance: textfield;
	margin: 0;
}
.icon-box{
	display: inline-block;
	background-color: rgba(255, 255, 255, .5);
	padding: 10px;
	margin: 0;
}

.left-icon{
	border-radius: 12px 0px 0px 12px;
}

.right-icon{
	border-radius: 0px 12px 12px 0px;
}

.search-input{
	font-size: 16px;
	color: black;
	border: none;
	border-bottom: none;
	background-color: rgba(255, 255, 255, .5);
	height: 44px;
	outline: none;
	/*width: 100%; need a better solution*/
	position: relative;
	bottom: 31px;

}
.input-container{
	width: 70%;
	display: inline-block;
	position: relative;
	top: 29px;
}
.search-bar{
	width: 100%;
}
.results{
	width: 100%;
	background-color: red;
	height: 300px
}
